body {

}

h1 {
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

input {
  height: 35px;
}
.weather-application {
  border: 1px solid black;
  border-radius: 8px;
  max-width: 600px;
  padding: 20px;
}
.temperature {
  font-size: 64px;
}

.description {
  font-size: 24px;
}

.units {
  position: relative;
  top: -35px;
}